@media (min-width: 576px) {
    .img_size {
        width: 100% !important;
        /* padding: auto !important;
        z-index: 1000000000000; */
    }
}



@media (max-width: 575px) {
    .img_size {
        width: 50% !important;
    }
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    /* Màu nền của header */
    /* Các thuộc tính CSS khác cho header của bạn */
    z-index: 100;
}


/* .card-boder{
    border: none !important;
} */

.list-group a {
    border-radius: 0 !important;
    padding: 23px;
    font-size: 1.5rem;
}

.menu {
    background-color: #2b5875;
}

.header-menu {
    background: radial-gradient(circle, rgba(227, 174, 238, 1) 0%, rgba(68, 145, 225, 1) 100%);
}

.result-label {
    border-radius: 20px;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    padding-right: 8px;
}

.temp {
    background: linear-gradient(to right, #faab08, #d42611);
}

.detail-product {
    cursor: pointer;
}


.img-hv:hover {
    transform: translateY(-10px);
}

.frame-hv:hover {
    transform: translateY(-5px);

    border: 1px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.img-hv {
    transition: all 0.5s ease;
}

.animation-content {
    margin-left: 50px;
}

.card-body li {
    list-style-type: none;
}

.li-describe li {
    margin-bottom: 6px;
}

a {
    text-decoration: none;
    color: #000;
}

.advertise {
    /* width: 100%; */
    width: 60%;
    height: 20px;
    background: linear-gradient(to right, #faab08, #d42611);
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 50px;
    margin-top: 20px;
}

.advertise img {
    float: left;

}

.advertise p {
    color: #fff;
    font-size: 12px;
}

.detail-product li:nth-child(3) {
    padding-bottom: 10px;
}

.detail-product li:nth-child(4) {
    padding-bottom: 10px;
}

.detail-product li:nth-child(5) a {
    text-decoration: line-through;
    color: #333;
}

.detail-product li:nth-child(6) {
    font-size: 18px;
    color: red;
    font-weight: bold;
    padding-bottom: 10px;
}

@media screen and (max-width: 500px) {

    .navbar-header img,
    .navbar-header input,
    .navbar-header a {
        width: 70%;
    }
}


:root {
    --white--color: #fff;
    --text--color: #333;
    --borer-color: gray;
}


.form {
    width: 500px;
    margin: auto;
    background-color: var(--white--color);
    border-radius: 5px;
    margin-top: 50px;
}

.edit {
    width: 1000px;
    margin: auto;
    background-color: var(--white--color);
    border-radius: 5px;
    margin-top: 50px;
}

.btn-fb {
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 2px;
    padding: 0 5px;
    outline: none;
    cursor: pointer;
    color: var(--text--color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-valid {
    border: 2px solid green !important; /* tích xanh trong form */
}


.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-prev,
.owl-next {
    position: absolute;
    transform: translateY(-50%);
}

.owl-prev {
    left: -15px;
}

.owl-next {
    right: -15px;
}